<div class="container-fluid">
  <div class="row title">
    <div class="col-md-12 text-center">
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
      <img src="{{pellets}}" width="1200px">
    </div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 calltoaction text-center"><h2>Avaliable Now! Contact us to make an order</h2><a routerLink="../contact" routerLinkActive="active"><div class="btn btn-calltoaction">Contact Us</div></a></div>
      <div class="col-md-3"></div>
    </div>
  </div>