<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Add Products</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" *ngIf="uploading">Your image is uploading.</div>
            <div class="alert alert-success" *ngIf="uploaded || submitted">
              <p class="errormessage" *ngIf="uploaded">Your image was successfully uploaded</p>
              <p class="errormessage" *ngIf="submitted">Your product was successfully added</p>
            </div>
            <div class="alert alert-danger" *ngIf="(name.touched && !name.valid) || (subtitle.touched && !subtitle.valid) || (description.touched && !description.valid) || (info.touched && !info.valid)  || subtitleerror  || titleerror || descriptionerror || infoerror || imageerror || productinuse">
              <p class="errormessage" *ngIf="(name.touched && !name.valid) || titleerror">A name is required</p>
              <p class="errormessage" *ngIf="(subtitle.touched && !subtitle.valid) || subtitleerror">A subtitle is
                required</p>
              <p class="errormessage" *ngIf="(description.touched && !description.valid) || descriptionerror">A
                description is required</p>
              <p class="errormessage" *ngIf="imageerror">An image must be uploaded before you can submit</p>
              <p class="errormessage" *ngIf="productinuse">This product name is already in use</p>
              <p class="errormessage" *ngIf="(info.touched && !info.valid)  || infoerror">Product information is required</p>
            </div>
            <form id="productform" #contact="ngForm" (ngSubmit)="onSubmit(contact)">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-select">
                    <label class="inputfilelabel" for="fileupload"><img [ngClass]="{'forminvalid': imageerror}" id="fileuploadimage"
                        src="{{imageupload}}" alt="your image"></label>
                    <input id="fileupload" name="image" type="file" accept="image/*" (change)="imageUpload($event)">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="titleField">Name</label>
                    <input required ngModel name="title" #name="ngModel" [ngClass]="{'forminvalid': titleerror}" type="text" class="form-control" id="titleField" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="subtitleField">Subtitle</label>
                    <input required ngModel name="subtitle" #subtitle="ngModel" [ngClass]="{'forminvalid': subtitleerror}" type="text" class="form-control" id="subtitleField" placeholder="Subtitle">
                  </div>
                  <div class="form-group">
                    <label for="descriptionField">Description</label>
                    <textarea required ngModel name="description" #description="ngModel" [ngClass]="{'forminvalid': descriptionerror}" class="form-control" id="descriptionField" placeholder="Description" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="infoField">Additional Information</label>
                    <textarea required ngModel name="info" #info="ngModel" [ngClass]="{'forminvalid': infoerror}" class="form-control" id="infoField" placeholder="Additional Information" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="infoField">Additional Information</label>
                    <textarea required ngModel name="info" #info="ngModel" [ngClass]="{'forminvalid': infoerror}" class="form-control" id="infoField" placeholder="Additional Information" rows="3"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="input-group">
                          <label for="priceField">Price</label>
                          <span class="input-group-text inputtitle">Price</span>
                          <span class="input-group-text inputcurrency">$</span>
                          <input ngModel name="price" #price="ngModel" id="price" type="number"
                            data-number-to-fixed="2" data-number-stepfactor="100" class="form-control price-control"
                            placeholder="0.00">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group"> 
                        <span class="input-group-text inputtitle">Brand</span>
                        <select ngModel name="brand" class="form-control inputstyle">
                          <option *ngFor="let brand of brandData;" value="{{brand.name}}">{{brand.name}}</option>
                          <option disabled selected value="none" hidden>Select an option</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-calltoaction">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>