<div class="container">
  <div class="row">
      <div class="col-md-12 text-center"><h1>Contact Us</h1></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info" *ngIf="mailsent">Your message has been successfully sent.</div>
            <div class="alert alert-danger" *ngIf="(name.touched && !name.valid) || (email.touched && !email.valid) || (message.touched && !message.valid) || emailerror  || nameerror || mailfail || messageerror"><p class="errormessage" *ngIf="(name.touched && !name.valid) || nameerror">A Name is required</p><p class="errormessage" *ngIf="(email.touched && !email.valid) || emailerror">An Email is required</p><p class="errormessage" *ngIf="emailerror && message.valid">Your Email is not valid</p><p class="errormessage" *ngIf="(message.touched && !message.valid) || messageerror">A Message is required</p><p class="errormessage" *ngIf="mailfail">We are sorry, the mailing service is down right now, please try again later</p></div>
            <form #contact="ngForm" (ngSubmit)="onSubmit(contact)">
                <div class="form-group">
                    <label for="nameField">Name</label>
                    <input required ngModel name="name" #name="ngModel" [ngClass]="{'forminvalid': nameerror}" id="name" type="text" class="form-control" id="nameField" placeholder="Name">
                  </div>
                <div class="form-group">
                  <label for="emailField">Email address</label>
                  <input required ngModel name="email" #email="ngModel" [ngClass]="{'forminvalid': emailerror}" id="email" type="email" class="form-control" id="emailField" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="messageField">Message</label>
                  <textarea required ngModel name="message" #message="ngModel" [ngClass]="{'forminvalid': messageerror}" id="message" class="form-control" id="messageField" placeholder="Message" rows="3"></textarea>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-calltoaction">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-md-4">

          <h3>Call or Visit Us</h3>
          <p>
          <strong>Phone: </strong>(613) 332-1516
          <br>
          <strong>Toll-free: </strong>(855) 797-0675
          <br>
          <strong>Fax: </strong>(613) 332-5261
          <br>
          29815 Hwy 62 North,
              <br>
                Bancroft, ON. K0L 1C0

            </p>
          <h3>Our Business Hours</h3>
          <p>
          <strong>Monday to Friday:</strong>  8:00-6:00
          <br>
          <strong>Saturday:</strong>  8:00-5:00
          <br>
          <strong>Sunday:</strong>  closed
        </p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><iframe src="https://snazzymaps.com/embed/89862" width="100%" height="600px" style="border:none;"></iframe></div>
    <div class="col-md-1"></div>
</div>
</div>