<div id="headerElement">
    <div class="headerp">
      <div class="container-fluid largescreen">
        <div [ngClass]="{show: logout, hide: !logout}" class="button-wrapper">
          <button class="btn btn-calltoaction">Log Out</button>
        </div>
        <nav>
          <ul>
            <li class="left"><a routerLink="admin/home" routerLinkActive="active">Control Panel</a></li>
            <li><a routerLink="admin/products" routerLinkActive="active">Products</a></li>
            <li class="center"><img alt="Birds Creek Farm Supply Logo" src="{{logo}}"></li>
            <li><a routerLink="admin/brands" routerLinkActive="active">Brands</a></li>
            <li id="right"><a routerLink="admin/promotions" routerLinkActive="active">Promotions</a></li>
          </ul>
        </nav>
      </div>
      <div class="container-fluid smallscreen">
        <div class="hamburger" (click)="menuToggle = !menuToggle">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="container-fluid smallscreen">
      <nav [ngClass]="{show: menuToggle, hide: !menuToggle}">
          <ul>
            <a routerLink="admin/home" routerLinkActive="active"><li>Control Panel</li></a>
            <a routerLink="admin/products" routerLinkActive="active"><li>Products</li></a>
            <a routerLink="admin/brands" routerLinkActive="active"><li>Brands</li></a>
            <a routerLink="admin/promotions" routerLinkActive="active"><li>Promotions</li></a>
          </ul>
        </nav>
    </div>
  </div>