<div class="container-fluid">
  <div class="row title">
    <div class="col-md-12 text-center">
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-lg-4 text-center">
        <img src="{{mainimage}}" width="300px">
      <h3>Poultry Pricing and Delivery Costs</h3>
      <p>Delivery charge to Birds Creeks of $18.99 per order for each delivery date<br>Birds must be paid in full when ordering</p>
      <a href="{{[price]}}" target="_blank"><button class="btn btn-document">Pricing List</button></a>
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{delivery}}" width="300px">
      <h3>Delivery Dates</h3>
      <p>Place your order early to avoid disappointment<br>Remember it takes 21 days to hatch a chick</p>
      <a href="{{schedule}}" target="_blank"><button class="btn btn-document">Delivery Schedules</button></a>
    </div>
    <div class="col-sm-2"></div>
  </div>
  
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 calltoaction text-center"><h2>Contact us to make an order!</h2><a routerLink="../contact" routerLinkActive="active"><div class="btn btn-calltoaction">Contact Us</div></a></div>
    <div class="col-md-3"></div>
  </div>
</div>