<div class="container-fluid">
  <div class="row footer text-center">
  <div class="col-lg-2"></div>
    <div class="col-lg-2"><h4>Connect To Us</h4><p><a href="https://www.facebook.com/birdscreekfeed" target="blank">Facebook</a><br><a href="https://plus.google.com/+Birdscreekfarmsupplylocalstore" target="blank">Google+</a></p></div>
    <div class="col-lg-2"><h4>Contact Information</h4><p>
        <strong>Phone: </strong>(613) 332-1516
        <br>
        <strong>Toll-free: </strong>(855) 797-0675
        <br>
        <strong>Fax: </strong>(613) 332-5261
        <br></div>
    <div class="col-lg-2"><h4>Hours of Operation</h4><strong>Monday to Friday:</strong>  8:00-6:00
      <br>
      <strong>Saturday:</strong>  8:00-5:00
      <br>
      <strong>Sunday:</strong>  closed</div>
    <div class="col-lg-2"><h4>Locate Us</h4>
      29815 Hwy 62 North,
          <br>
            Bancroft, ON. K0L 1C0</div>
            <div class="col-lg-2"></div>
  </div>

  <div class="row bottombar">
    <div class="col-md-12"><p class="tagline">A Website by Irwin Programming</p></div>
  </div>
</div>